body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: rgba(55, 42, 42, 0.162);
}

#caculator {
	font-family: Arial, sans-serif;
	background-color: hsl(0, 0%, 15%);
	border-radius: 15px;
	max-width: 500px;
	overflow: hidden;
}

#key {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	padding: 25px;
}

#display {
	width: 100%;
	padding: 20px;
	font-size: 5rem;
	text-align: center;
	border: none;
	background-color: hsl(0, 0%, 20%);
	color: white;
}

button {
	width: 100%;
	padding: 20px;
	border-radius: 30%;
	border: none;
	background-color: hsl(0, 0%, 30%);
	color: white;
	font-size: 2rem;
	font-weight: bold;
	cursor: pointer;
}

button:hover {
	background-color: hsl(0, 0%, 42%);
}

.operator {
	background-color: rgb(86, 116, 86);
}

.operator:hover {
	background-color: rgb(97, 121, 64);
}

.clear {
	background-color: rgb(27, 99, 78);
}

.clear:hover {
	background-color: rgb(49, 157, 157);
}
